extends layout

block content
  h1 Marca: #{marca}
  
  h3 Modelos Intervencionados
  ul
    each modelo in modelos
      li #{modelo}
      
  h3 Histórico de Reparações (#{repairs.length} registos)
  table
    thead
      tr
        th ID
        th Data
        th Nome do Cliente
        th Matrícula
        th Marca
        th Nº Intervenções
    tbody
      each r in repairs
        tr
          td
            a(href='/' + r._id) #{r._id}
          td #{r.data}
          td #{r.nome}
          td #{r.viatura.matricula}
          td
            a(href='/' + r.viatura.marca) #{r.viatura.marca}
          td #{r.nr_intervencoes}
          
  a.btn(href='/') &larr; Voltar à Página Principal